version: '3'
services:
  wyoming-piper:
    container_name: wyoming-piper-gpu
    extends:
      file: docker-compose.base.yml
      service: wyoming-piper
    build:
      dockerfile: GPU.Dockerfile
      context: ./piper
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]

  wyoming-whisper:
    container_name: wyoming-whisper-gpu
    extends:
      file: docker-compose.base.yml
      service: wyoming-whisper
    build:
      dockerfile: GPU.Dockerfile
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    command: [ "--model", "tiny-int8", "--language", "en", "--device", "cuda" ]

  wyoming-openwakeword:
    container_name: wyoming-openwakeword-gpu
    extends:
      file: docker-compose.base.yml
      service: wyoming-openwakeword
    build:
      dockerfile: GPU.Dockerfile
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]

